a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 8px 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: black;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 180px;
}

li {
  list-style: none;
  padding: 0;
}
